<div class="container mt-5">
  <div class="text-center">
    <h1>Toastr Proof of Concept</h1>
  </div>

  <div class="row justify-content-center mt-4">
    <div class="col-6 text-center">
      <button class="btn btn-success custom-success btn-block btn-lg mb-3" (click)="showSuccessNotification()">Success</button>
    </div>
    <div class="col-6 text-center">
      <button class="btn btn-warning custom-warning btn-block btn-lg mb-3" (click)="showWarningNotification()">Warning</button>
    </div>
    <div class="col-6 text-center">
      <button class="btn btn-info custom-info btn-block btn-lg mb-3" (click)="showInfoNotification()">Info</button>
    </div>
    <div class="col-6 text-center">
      <button class="btn btn-danger custom-danger btn-block btn-lg" (click)="showErrorNotification()">Error</button>
    </div>
  </div>
</div>
